<h1>Measure Published</h1>

<p>
  Hi <%= @name %>,
</p>

<p>
  A measure you are assigned to, <a href="https://plastic-advocacy.wwf.no/action/<%= @measure_id %>"><%= @title %></a>, has been published.
</p>

